<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <h1>LOCI</h1><h1>GET STARTED PAGE</h1>
        <h2>Welcome to Pensacola, Florida!</h2>
        <p>We’re glad you’re here! Whether you’re a traveler passing through, a tourist here to see the beautiful beaches, or a local excited to give your opinion, Loci is the connection to finding what you’re looking for. And when it comes to spending your money in town, we know it’s the experience you’re looking for.</p>
        <p>Finding the best spot in Pensacola takes more than just a good Google or Yelp review, it takes the direction and guidance of someone who knows the area and is willing to let you in on one of their best kept secrets. (Think of Loci as an app full of best kept secrets). And Pensacola is full of them! From restaurants with the best sunset views and serving the freshest seafood to “locals only” bars and the newest breweries, there’s plenty of epic experiences waiting to be had… if you know where to go.</p>
        <h2>Get Started as a Traveller or Local Pro</h2>
        <div *ngIf="!isAuthenticated">
          <h3>SIGN UP FOR LOCI</h3>
          <p>It’s hard to know where to go when you want to spend your money in Pensacola. Whether for a product or service, signing up for Loci is how you can have the best experience in town. Sign up here as to be a User.</p>
        </div>
        <div *ngIf="isAuthenticated">
          <h3>1. ASK YOUR QUESTION</h3>
          <p>Loci allows you to ask locals in your area where the best place is for the experience you’re wanting to have. (Think: “Where is the best place for top-notch breakfast burritos, good wifi, and close to the beach?”) This is where your people are, so don’t be shy! Ask for what you want.</p>
          <h3>2. ANSWER OTHER QUESTIONS</h3>
          <p>If you are a local pro, we trust that you know where to go. Let others know by answering their question with the name of the local business that you think would be a great fit for what they are looking for. We appreciate you being willing to share the hidden gems of the coast!</p>
          <h3>3. KNOW WHERE TO GO!</h3>
          <p>The answers you get back will be voted on so you can clearly choose “the best” for you. This gives you confidence in the place you go so that you get the experience you want (and give back to local businesses too!). Loci is the go-to for knowing where to go!</p>
        </div>
        <h2>1. CONNECT YOUR BUSINESS</h2>
        <p>If you’re a local seller of unique goods or provide a great service, you likely want to know what your customers think about your product, service, or experience. What if you could know? Paying for our <strong>standard membership</strong> to connect your business is the best way to get real feedback and know what your customers want. </p>
        <h2>2. ENGAGE WITH YOUR CUSTOMERS</h2>
        <p>Loci allows you to communicate and engage with your customers on a platform made specifically to encourage word of mouth recommendations in your area. With a business profile, you can comment on posts, answer questions from users and respond to reviews. This gives you direct communication and insight into your most loyal customers and new-comers. It’s a win-win for everyone!</p>
        <h2>3. KNOW WHAT THEY WANT!</h2>
        <p>With our Premium Membership, you can connect with your customer even more with the ability to create polls and display ads. You can ask questions like: “What is your favorite beer we have on tap right now?” and with the responses you receive, you will be able to make more informed business decisions that benefit both you and your customers. That’s epic!</p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h1>LOCI</h1><h1>GET STARTED PAGE</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h2>Welcome to Pensacola, Florida!</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <p>We’re glad you’re here! Whether you’re a traveler passing through, a tourist here to see the beautiful beaches, or a local excited to give your opinion, Loci is the connection to finding what you’re looking for. And when it comes to spending your money in town, we know it’s the experience you’re looking for.
        </p>
        <p>Finding the best spot in Pensacola takes more than just a good Google or Yelp review, it takes the direction and guidance of someone who knows the area and is willing to let you in on one of their best kept secrets. (Think of Loci as an app full of best kept secrets). And Pensacola is full of them! From restaurants with the best sunset views and serving the freshest seafood to “locals only” bars and the newest breweries, there’s plenty of epic experiences waiting to be had… if you know where to go.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h2>Get Started as a User</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h3>1. SIGN UP FOR LOCI</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="6" offset-lg="3" class="ion-text-center">
        <p *ngIf="isAuthenticated">Loci allows you to ask locals in your area where the best place is for the experience you’re wanting to have. <strong>(Think: “Where is the best place for top-notch breakfast burritos, good wifi, and close to the beach?”)</strong> This is where your people are, so don’t be shy! Ask for what you want.</p>
        <p *ngIf="!isAuthenticated">It’s hard to know where to go when you want to spend your money in Pensacola. Whether for a product or service, signing up for Loci is how you can have the best experience in town. Sign up here as to be a User.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h3>2. ASK YOUR QUESTION</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <p>If you are a local, we trust that you know where to go. Let others know by answering their question with the name of the local business that you think would be a great fit for what they are looking for. We appreciate you being willing to share the hidden gems of the coast!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h3>3. KNOW WHERE TO GO!</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <p>The answers you get back will be voted on so you can clearly choose “the best” for you. This gives you confidence in the place you go so that you get the experience you want (and give back to local businesses too!). Loci is the go-to for knowing where to go!</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h2>Get Started as a Local Business</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h3>1. PAY TO CONNECT YOUR BUSINESS</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <p>Description of the process plan. Make sure you answer questions too! Loci allows you to communicate and engage with your customers on a platform made specifically to encourage word of mouth recommendations in your area.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h3>2. MAKE A POLL</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <p>You can even create polls with our Premium Membership! (Think: “What is your favorite beer we have on tap right now?”) With the responses you receive,</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <h3>3. KNOW WHAT YOUR CUSTOMERS WANT!</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"
        size-lg="4" offset-lg="4" class="ion-text-center">
        <p>The answers and interaction you receive will allow you to make more informed business decisions that benefit both you and your customers. That’s epic!</p>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <app-nb-footer></app-nb-footer>
</ion-content>
