<div #slidingAd class="marquee-ad nb-vertical-bottom" [ngClass]="{ demo: isDemo, communityAd: isCommunityAd }" [ngStyle]="{'background-image': 'url('+ heroAd?.imageUrl +')'}">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-left">
        <h1>{{ heroAd?.adTagline?.primaryAdTagline }}</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="heroAd?.adTagline?.secondaryAdTagline !== ''">
      <ion-col class="ion-text-left">
        <h1>{{ heroAd?.adTagline?.secondaryAdTagline }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-left">
        <div class="btn-wrapper">
          <app-jacobi-button class="hide-md-and-below" (click)="goToProfile()" [buttonType]="'clear-primary min-height text-wrap'" class="md-ad-button">{{ heroAd?.callToAction || 'Learn More' }}</app-jacobi-button>
          <!-- <app-jacobi-button class="hide-md-and-above" (click)="goToProfile()" [buttonType]="'clear-primary min-width'" class="md-ad-button">{{ heroAd?.vendorTagline || 'Learn More' }}</app-jacobi-button> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>