<ion-footer>
  <ion-toolbar class="web nb-footer">
    <ion-buttons slot="start">
      <ion-grid>
        <ion-row>
          <!-- <ion-col>
            <ion-row>
              <ion-col>
                <ion-button class="nb-footer-button">
                  Contact Us
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button class="nb-footer-button">
                  About
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col> -->


          <ion-col>
            <ion-row>
              <ion-col>
                <ion-button [routerLink]="'/legal/privacy-policy'" class="nb-footer-button">
                  Privacy Policy
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button [routerLink]="'/legal/terms-of-service'" class="nb-footer-button">
                  Terms of Service
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
          



          <!-- <ion-col>
            <ion-row>
              <ion-col>
                <ion-button class="nb-footer-button">
                  Advertising
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button class="nb-footer-button">
                  Ad Choices
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col> -->
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-button [routerLink]="'/contact-us'" class="nb-footer-button">
                  Contact Us
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button class="nb-footer-button">
                  Loci &copy;2022
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-buttons>

  </ion-toolbar>
</ion-footer>