<ion-content class="body-content-wrapper">

  <ion-grid>
    <ion-row>

      <ion-col class="web category-selections" size-lg="3" size-xl="2.5">

        <ion-card class="clickable category-list-card">
          <ion-row class="category-list-header">
            <ion-col><span>My Feed</span></ion-col>
          </ion-row>
          <ion-row (click)="updateSelectedCategories(category)" class="category-item-wrapper" *ngFor="let category of categories">
           <ion-col size="2">
              <ion-icon *ngIf="category.isSelected" [ngStyle]="{'color': category.hexColor}" [name]="category.icon + '-sharp'"></ion-icon>
              <ion-icon *ngIf="!category.isSelected" [ngStyle]="{'color': '#b2b2b2'}" [name]="category.icon + '-outline'"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <p><span>{{ category.name }}</span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col offset="1" size="11">
              Click icons above to ignore posts from that category
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-lg="9" size-xl="7" class="category-feed-col">

        <ion-row *ngIf="heroAd">
          <ion-col size="12">
            <app-marquee-ad [heroAd]="heroAd" [isCategoryAd]="true"></app-marquee-ad>
          </ion-col>
        </ion-row>

        <ion-row class="post-question-row">
          <ion-col class="post-question-col">
            <app-post-question></app-post-question>
          </ion-col>
        </ion-row>
        
       

        <ion-row class="posts-container">
          <ion-col class="nb-no-padding" size="12">
            <div>
              <ion-row class="category-post-row specific-post" *ngIf="specificPost">
                <ion-col class="category-post-col">
                  <app-post-item [post]="specificPost"></app-post-item>
                </ion-col>
              </ion-row>
            </div>
            <div *ngFor="let post of consumerPosts; index as i;">
              <ion-row class="category-post-row">
                <ion-col class="category-post-col">
                  <app-post-item [post]="post"></app-post-item>
                </ion-col>
              </ion-row>
              <ion-row class="category-post-row">
                <ion-col class="category-post-col">
                  <app-post-item *ngIf="shouldShowVendorPost(i)"  [post]="vendorPosts[getVendorPostIndex(i)]"></app-post-item>
                </ion-col>
              </ion-row>
            </div>

            <ion-row *ngIf="showLoadMore">
              <ion-col class="load-more-posts-wrapper">
                <app-jacobi-button (click)="loadMorePosts()" [buttonType]="'ghost-green-primary'"
                  [altStyle]="'width-fit-content'">Load More</app-jacobi-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size-lg="2.5" class="web hide-xl-and-below" no-padding>
        <ion-card class="clickable recent-posts-card">
          <ion-row class="recent-posts-header">
            <ion-col><span>Recent Questions</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="recent-question" *ngFor="let recentPost of recentPosts" (click)="addCategoryToShownPosts(recentPost.category)">
                {{ recentPost.subject }} <strong>by {{ recentPost.author.name }}</strong> in <strong>{{ recentPost.category }}</strong>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="promotedVendors" class="sm-ad-section">
      <ion-col *ngFor="let vendor of promotedVendors; index as i;">
        <div class="sm-ad-container sm-ad-container-{{i+1}} clickable" (click)="goToPromotedVendor(vendor)">
          <div class="sm-ad">Advertisement</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-nb-footer></app-nb-footer>
</ion-content>