<ion-content>

  <ion-grid>
    <!-- Processing check-in -->
    <ion-row *ngIf="hasVendorId && isProcessing">
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <h1>Checking In...</h1>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>

    <!-- No vendor ID - show instructions -->
    <ion-row *ngIf="!hasVendorId">
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <h1>Check In to a Business</h1>
        <p>Scan a vendor's QR code with your phone camera to check in at their location.</p>
        <br/>
        <app-jacobi-button [buttonType]="'green-primary'" (click)="goToFeed()">Browse Vendors</app-jacobi-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
