@import 'src/theme/jacobi-theme/scss/main';
@import 'src/global-sass-variables';


.answer-item {

    p {
        padding: 0;
        margin: 0;
        align-self: center;
    }

    ion-icon {
        font-size: $icon-md-size !important;
        color: var(--med-grey);
        align-self: center;
        @include clickable;
    }
    .vote-for {
        font-size: 1rem !important;
        font-weight: 500;
        align-self: center;
        color: var(--nb-light-grey);
        @include clickable;
    }
    .vote-count {
        font-weight: 700;
        font-size: 1.25rem;
        align-self: center;
        color: var(--nb-light-grey);
    }
    &.minimized,
    &.expanded {
        ion-icon {
            margin-right: 0.5rem;
        }

        .answer-text p {
            color: var(--nb-primary);
            font-weight: bold;
            max-width: 100%;
        }
     }

   
    &.expanded {
        padding-right: 1.5rem;
        
        .answer-with-icon {
            display: flex;

            .answer-text {
                display: contents;

                p {
                    max-width: 85%;
                }
                
            }
            
        }

        .bar-wrapper {            
            .bar {
                height: 1rem;
                position: relative;
                top: calc(50% - 0.5rem);
            }
        }

        .votes {
            display: flex;
            justify-content: flex-end;

            p {
                margin: 0;
                align-self: center;
                font-weight: bold;
                color: var(--nb-light-grey);
            }
        }
        
    }
}

// ======================================================= alt-styles

.demo {
    .answer-item.expanded {
       

        .bar-wrapper {
            .bar {
                display: block;
            }
        }  

        .votes {
            align-self: center;
        }
    }

    // @include screen-xl-and-above {
    //     grid-template-columns: 50% 45% 5%;
    // }
}

@include screen-md-and-below {
    .answer-item.expanded.hide-md-and-above {
        
        .bar-wrapper {
            margin-top: 0.25rem;
            // display: inline-table;
            display: block;

            .answer-text p {
                font-family: font-families(default);
                color: var(--nb-light-grey);
                font-weight: 500;
                font-size: 1rem;
                margin: 0;
            }

            .bar {
                margin: 0.2rem 0 0.3rem;
                top: 0;
            }
        }  

        .votes {
            align-self: flex-end;
            margin-bottom: 0.25rem;
        }
    }

    
}
