
  <!-- web -->
  <div class="{{ altStyle }}" [ngClass]="{ demo: isDemo }">
    <!-- mobile -->
    <ion-row class="answer-item expanded">
      <ion-col size-xs="1.5" offset-md=".5" size-md="1">
        <ion-icon *ngIf="answer.didVoteFor" [name]="'thumbs-up-sharp'" (click)="removeVote()"></ion-icon>
        <span class="vote-for nb-vertical-center" *ngIf="!answer.didVoteFor" (click)="addVote()">vote</span>
      </ion-col>
  
      <ion-col size="10" class="bar-wrapper ion-text-left">
        <div #answerTextEl class="answer-text" [ngClass]="{'nb-vertical-center': answer?.voters?.length === 0}">
          <p>{{ answer.answerText }}</p>
        </div>
        <div #chartBar class="bar"></div>
      </ion-col>
  
      <ion-col size-xs=".5" size-md=".5">
        <span class="vote-count nb-vertical-center">
          {{ answer.votes.length }}
        </span>
      </ion-col>
    </ion-row>
  </div>
