
<ion-app>
  <app-nb-header-mobile></app-nb-header-mobile>
  <app-nb-header></app-nb-header>

  <ion-content>
    <ion-refresher class="mobile" slot="fixed" (ionRefresh)="refresh()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-split-pane [when]="false" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">

    <ion-list>
      <ion-menu-toggle>
        <ion-item [routerLink]="'/home'" lines="none" detail="false" class="menu-item">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item [routerLink]="'/feed'" lines="none" detail="false" class="menu-item">
          <ion-label>Feed</ion-label>
        </ion-item>
        <!-- <ion-item [routerLink]="'/routes'" lines="none" detail="false" class="menu-item">
          <ion-label>Routes</ion-label>
        </ion-item> -->
        <ion-item [routerLink]="'/browse'" lines="none" detail="false" class="menu-item">
          <ion-label>Browse</ion-label>
        </ion-item>
        <ion-item *ngIf="showPricing" [routerLink]="'/pricing'" lines="none" detail="false" class="menu-item">
          <ion-label>Pricing</ion-label>
        </ion-item>
        <ion-item lines="none" detail="false" class="menu-item">
          <ion-label>Version: {{ lociConstants.VERSION_NUMBER }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-content>
</ion-app>

  