<div class="modal-wrapper">
  <ion-card class="modal-card-wrapper">
    <ion-card-header class="logo-wrapper">
      <ion-icon class="close-icon clickable" (click)="onClose($event)" name="close-outline"></ion-icon>
    </ion-card-header>
  
    <ion-card-content class="modal-content-wrapper">
      <div>
        <h2 class="ion-text-center">Notification Settings</h2>
  
        <p class="text-notice">Are you a local pro in the Gulf Coast? Let people know where to go by answering their questions! Choose below to be notified when someone has a question in a category you know well.</p>
        
        <!-- <form action=""> -->
          <ion-list>
            <ion-item *ngFor="let category of categorySet">
              <ion-label>{{ category.name }}</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="category.isSelected" (ionChange)="assessSelectedCategories($event)"></ion-checkbox>
            </ion-item>
          </ion-list>
  
        <p class="text-notice">We'll notify you when someone answers a question you ask unless you opt out below.</p>
  
        <ion-item>
          <ion-label>Answers to your questions</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="notificationsForAnsweredQuestions" (ionChange)="assessSelectedCategories($event)"></ion-checkbox>
        </ion-item>
        <div class="action-btn-wrapper">
          <app-jacobi-button [buttonType]="'ghost-white text-grey'" (click)="onClose($event)">Cancel</app-jacobi-button>
          <app-jacobi-button [buttonType]="'auth-primary'" (click)="onSave($event)">Save</app-jacobi-button>
        </div>
  
      </div>
    </ion-card-content>
  </ion-card>
</div>
