<div class="modal-wrapper">
  <ion-card class="modal-card-wrapper">
    <ion-card-header class="logo-wrapper">
      <ion-icon class="close-icon clickable" (click)="onClose()" name="close-outline"></ion-icon>
    </ion-card-header>
  
    <ion-card-content class="modal-content-wrapper">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <h2>Change your Picture</h2>
            <app-nb-avatar (click)="changePicture()" class="pointy-cursor" [size]="'big'" [borderColor]="newBorderColor" [imageSrc]="profile?.avatarSourceURL"></app-nb-avatar>
  
            <h2>Change your Border Color</h2>
            <ion-row>
              <ion-col size="8">
                <ion-row>
                  <ion-col size="3" *ngFor="let color of colors">
                    <div (click)="changeColor(color)" class="color-chooser pointy-cursor" [ngStyle]="{ 'background-color': color }"></div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="buttons-row">
              <ion-col>
                <app-jacobi-button [buttonType]="'ghost-white text-grey'" (click)="onClose()">Cancel</app-jacobi-button>
              </ion-col>
              <ion-col>
                <app-jacobi-button [buttonType]="'auth-primary'" (click)="saveColor()">Save</app-jacobi-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
