

<div class="modal-wrapper">
  <ion-card class="modal-card-wrapper">
    <ion-card-header class="logo-wrapper">
      <ion-icon class="close-icon clickable" (click)="onClose($event)" name="close-outline"></ion-icon>
    </ion-card-header>
  
    <ion-card-content class="modal-content-wrapper">
      <div>
        <h1 class="text-notice">Welcome to the Gulf Coast!</h1>
  
        <p class="text-notice">Check back soon for more locations. In the mean time, please feel free to ask questions about local businesses in the Gulf Coast... roughly Mobile to Panama City.</p>
        
      </div>
    </ion-card-content>
  </ion-card>
</div>