@import 'src/theme/jacobi-theme/scss/main';
@import 'src/global-sass-variables';

.action-content-wrapper {
    .no-accnt {
        margin-top: 0.5rem;
    }
}

@include screen-md-and-below {
    .action-content-wrapper {
        .btn-text {
            font-size: 1.1rem !important;
        }

        .no-accnt {
            margin-top: 1rem;
        }
    }
}