
<div class="modal-wrapper">
  <ion-card class="modal-card-wrapper">
    <ion-card-header class="logo-wrapper">
      <!-- <ion-img src="https://storage.googleapis.com/neatboutique.com/images/loci_long_1024.png"></ion-img> -->
      <ion-icon class="close-icon clickable" (click)="onClose()" name="close-outline"></ion-icon>
    </ion-card-header>

    <ion-card-content>
        <ion-row>
          <ion-col>
            <p class="title">You have more than one vote!</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p *ngIf="answer.postType === postTypes.QUESTION" class="ion-text-center">How do you rank "{{ answer.entity.name }}" for this question?</p>
            <p  *ngIf="answer.postType === postTypes.POLL"class="ion-text-center">How do you rank "{{ answer.freeFormAnswer }}" for this question?</p>
          </ion-col>
        </ion-row>        
        <ion-row class="choice clickable" (click)="chooseRanking(answerVoteRankingTypes.FIRST)">
          <ion-col offset="1.5" size="1.5">
            <ion-icon src="../../../../assets/icons/Trophy_Gold.svg"></ion-icon>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <p *ngIf="!currentUserFirstChoiceAnswer">My Top Choice</p>
            <p *ngIf="currentUserFirstChoiceAnswer && currentUserFirstChoiceAnswer.postType === postTypes.QUESTION">{{ currentUserFirstChoiceAnswer.entity.name }}</p>
            <p *ngIf="currentUserFirstChoiceAnswer && currentUserFirstChoiceAnswer.postType === postTypes.POLL">{{ currentUserFirstChoiceAnswer.freeFormAnswer }}</p>
          </ion-col>
        </ion-row>
        <ion-row class="choice clickable" (click)="chooseRanking(answerVoteRankingTypes.SECOND)">
          <ion-col offset="1.5" size="1.5">
            <ion-icon src="../../../../assets/icons/Trophy_Silver.svg"></ion-icon>
          </ion-col>
          <ion-col size="8"  class="ion-align-self-center">
            <p *ngIf="!currentUserSecondChoiceAnswer">My 2nd Choice</p>
            <p *ngIf="currentUserSecondChoiceAnswer && currentUserSecondChoiceAnswer.postType === postTypes.QUESTION">{{ currentUserSecondChoiceAnswer.entity.name }}</p>
            <p *ngIf="currentUserSecondChoiceAnswer && currentUserSecondChoiceAnswer.postType === postTypes.POLL">{{ currentUserSecondChoiceAnswer.freeFormAnswer }}</p>
          </ion-col>
        </ion-row>
        <ion-row class="choice clickable" (click)="chooseRanking(answerVoteRankingTypes.THIRD)">
          <ion-col offset="1.5" size="1.5">
            <ion-icon src="../../../../assets/icons/Trophy_Bronze.svg"></ion-icon>
          </ion-col>
          <ion-col size="8"  class="ion-align-self-center">
            <p *ngIf="!currentUserThirdChoiceAnswer">My 3rd Choice</p>
            <p *ngIf="currentUserThirdChoiceAnswer && currentUserThirdChoiceAnswer.postType === postTypes.QUESTION">{{ currentUserThirdChoiceAnswer.entity.name }}</p>
            <p *ngIf="currentUserThirdChoiceAnswer && currentUserThirdChoiceAnswer.postType === postTypes.POLL">{{ currentUserThirdChoiceAnswer.freeFormAnswer }}</p>
          </ion-col>
        </ion-row> 
        <ion-row *ngIf="showRemoveAnswer" class="choice clickable" (click)="removeVote()">
          <ion-col offset="1.5" size="1.5">
            <ion-icon class="remove" name="close-circle-outline"></ion-icon>
          </ion-col>
          <ion-col size="8"  class="ion-align-self-center">
            <p *ngIf="answer.postType === postTypes.QUESTION">Remove vote for {{ answer.entity.name }}</p>
            <p *ngIf="answer.postType === postTypes.POLL">Remove vote for {{ answer.freeFormAnswer }}</p>
          </ion-col>
        </ion-row> 
        <ion-row *ngIf="showCancel && !showRemoveAnswer" class="choice clickable" (click)="onClose()">
          <ion-col offset="1.5" size="1.5">
            <ion-icon class="remove" name="close-circle-outline"></ion-icon>
          </ion-col>
          <ion-col size="8"  class="ion-align-self-center">
            <p *ngIf="answer.postType === postTypes.QUESTION">Cancel vote for {{ answer.entity.name }}</p>
            <p *ngIf="answer.postType === postTypes.POLL">Cancel vote for {{ answer.freeFormAnswer }}</p>
          </ion-col>
        </ion-row> 
        <div *ngIf="answer.vendor" class="clickable">
          <p class="view-vendor-profile" (click)="goToVendor()">View profile for: {{ answer.entity.name }}</p>
        </div>
    </ion-card-content>
  </ion-card>
</div>