/*
    ==  Add your custom fonts using the format below  ==

    @font-face {
        font-family: 'HelveticaNeue';
        src: url('src/assets/fonts/HelveticaNeue/HelveticaNeueBoldItalic.ttf');
        font-weight: bold;
        font-style: italic;
    }
*/
    