<ion-content>
  <ion-row>
    <ion-col offset-md="1" size-md="10" offset-lg="2" size-lg="8" offset-xl="2.5" size-xl="7">
      <!-- Conditional Form Display -->
      <div *ngIf="isVendorInvited">
        <h2>{{ currentNetwork?.name }}</h2>
        <ion-card>
          <h3>You're invited!</h3>
          <ion-row>
            <ion-col size="12">
              <p>You have been invited to join this community. Please join below or decline the invite.</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-jacobi-button (click)="declineInvite()" [buttonType]="'white-primary-wide'">
                Decline Invite
              </app-jacobi-button>
            </ion-col>
            <ion-col>
              <app-jacobi-button (click)="acceptInvite()" [buttonType]="'green-primary'">
                Join this Community
              </app-jacobi-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>

      <div *ngIf="isVendorOwner">
        <h2>{{ currentNetwork.name }}</h2>
        <ion-card>
          <h3>Add New Member</h3>
          <form [formGroup]="addMemberForm">
            <ion-row>
              <ion-col size="12" *ngIf="!selectedVendorToAdd">
                <app-input-field
                  [formGroupInstance]="addMemberForm"
                  inputName="businessName"
                  label="Business Name"
                  icon="business-outline"
                  [invalidInputWarnings]="[
                    { warning: 'A business name is required.', errorType: 'required' }
                  ]">
                </app-input-field>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
      </div>

      <!-- Existing Vendor List -->
      <div class="vendor-grid">
        <ion-card
          *ngFor="let membership of currentVendorNetworkMembershipDisplays"
          (click)="toggleExpansion(membership)"
          class="vendor-info-card"
          [ngClass]="{ 'expanded': membership.vendorDisplay.expandNetworkCard }">
          <ion-card-content>
            <ion-row>
              <ion-col offset="3" size="6">
                <ion-img
                  class="logo-image"
                  [src]="membership.vendorDisplay?.avatarSourceURL || defaultImg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-card-content>

          <app-expandable [expanded]="membership.vendorDisplay.expandNetworkCard">
            <ion-row>
              <ion-col>
                <h3 class="vendor-name">{{ membership.vendorDisplay.name }}</h3>
                <p class="vendor-description">{{ membership.vendorDisplay.description }}</p>
              </ion-col>
            </ion-row>
          </app-expandable>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
