@import 'src/theme/jacobi-theme/scss/main';
@import 'src/global-sass-variables';



.answer-item {
    .avatar-container {
        position: relative;
        .trophy {
            position: absolute;
            top: -3px;
            left: -9px;
            z-index: 5;
            font-size: 1rem !important;
        }
        .avatar {
            z-index: 4;
        }
    }

    p {
        padding: 0;
        margin: 0;
        align-self: center;
    }

    ion-icon {
        font-size: $icon-md-size !important;
        color: var(--nb-med-grey);
        align-self: center;
        @include clickable;
    }
    .vote-for {
        font-size: 1rem !important;
        font-weight: 500;
        align-self: center;
        color: var(--nb-light-grey);
        @include clickable;
    }
    .vote-count {
        font-weight: 700;
        font-size: 1.25rem;
        align-self: center;
        color: var(--nb-light-grey);
    }
    .vendor-name {
        font-family: font-families(default);
        color: var(--nb-light-grey);
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
    }


    &.expanded {
        ion-icon {
            margin-right: 0.5rem;
        }

        .bar-wrapper {
            margin-top: 0.25rem;
            display: inline-table;

            .vendor-name {
                font-family: font-families(default);
                color: var(--nb-light-grey);
                font-weight: 500;
                font-size: 1rem;
                margin: 0;
            }

            .bar {
                height: 1rem;
                margin: 0.2rem 0 0.3rem;
            }
        }  

        
    }
}

// ======================================================= alt-styles


.poll-preview {
    .answer-item.expanded {

        .bar-wrapper {
            .bar {
                display: block;
            }
        }  

        .vote-count {
            font-weight: 700;
            align-self: center;
            color: var(--nb-light-grey);
        }
    }
}



// 

@include screen-md-and-below {

    .answer-item.expanded {
        .bar-wrapper {
            margin-top: 0.25rem;
            display: inline-table;

            .vendor-name {
                font-family: "HelveticaNeue";
                color: var(--nb-light-grey);
                font-weight: 500;
                font-size: 1rem;
                margin: 0;
            }

            .bar {
                margin: 0.2rem 0 0.3rem;
            }
        }  

        .vote-count {
            font-weight: 700;
            align-self: center;
            color: var(--nb-light-grey);
        }
    }

    
}