<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529820257802-nmmoe782cq5a9a6ru8946qojjmvreuh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529820257802-nmmoe782cq5a9a6ru8946qojjmvreuh7</string>
	<key>API_KEY</key>
	<string>AIzaSyAX25-HxLqXR3KTesLK5JljY8pnT9WCzbc</string>
	<key>GCM_SENDER_ID</key>
	<string>529820257802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ui.neatboutique.jacobi</string>
	<key>PROJECT_ID</key>
	<string>citric-inkwell-330122</string>
	<key>STORAGE_BUCKET</key>
	<string>citric-inkwell-330122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529820257802:ios:1a20423f5b6f954997d9f3</string>
</dict>
</plist>